<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <%- include('../partials/navbar') %> <%- include('../partials/footer') %>
    <%- include('../partials/style') %>

    <title>Fitness Tracker</title>
  </head>
  <div class="container">
    <body id="new-user">
      <main>
        <br />
        <h2 id="new-user-h2">Welcome Back! Login Below</h2>
        <form action="/login" method="POST">
          <div class="form-group">
            <label for="username" id="new-user-info">Username: </label>
            <input
              name="username"
              type="text"
              placeholder="Username"
              id="name-box"
              class="form-control"
            />
            <label for="email" id="new-user-info">Email: </label>
            <input
              name="email"
              type="text"
              placeholder="Email address"
              id="name-box"
              class="form-control"
            />
            <label for="password" id="new-user-info">Password: </label>
            <input
              name="password"
              type="password"
              placeholder="Password"
              id="name-box"
              class="form-control"
            />
          </div>
          <button type="submit" class="btn btn-primary" id="add-user-button">
            Login
          </button>
        </form>
      </main>

      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script
        src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"
      ></script>
    </body>
  </div>
</html>
