<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Tracker</title>
</head>
<body>
    <%- include('../partials/header') %>

    <main>
        <h2>Edit <%= workout.name %>'s Info</h2>
        <form action="/workouts/<%= workout._id %>?_method=PUT" method="post">
          <input type="text" name="name" value="<%= workout.name %>"/><br/><br/>
    
          <input type="submit" value="Update Workout"/>
        </form>
      </main>
</body>
</html>